img {border: 0px;}
*{margin:0;padding:0;}
body{padding:0px;margin:0px;line-height:180%;font-size:12px;font-family:Verdana,Arial,Helvetica,sans-serif;text-align:center;color:#666;text-align: center;}
div,form,img,ul,ol,li,dl,dt,dd{margin:0;padding:0;border:0;text-align:left;}
h1,h2,h3,h4,h5,h6 {margin:0;padding:0;font-weight:bold;margin-right:auto;margin-left:auto;}
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
.clear {clear:both;}
ul,li {list-style:none;}
a {color:#0b5a8e; text-decoration:none;}
a:hover {color:#ff3333;text-decoration:none;}
form, embed {display: inline;margin: 0;padding: 0;}

body{
    background: #f4f4f4 url(images/bg1.jpg) repeat-x;
}

.inputbox{
    border: 1px solid #ccc;
    height: 18px;
    line-height: 18px;
    background: #fff;
    width: 160px;
}

.go{
    background: url(images/ss.jpg);
    border: none;
    width: 22px;
    height: 24px;
    line-height: 24px;
    margin-top: 10px;
}

.wrap{
    margin:0 auto;
    margin-bottom:2px;
}
.header{
    height:171px;
    background: url('images/top.png') no-repeat 0 -131px;
    position: relative;
}

.header-top{
    width:980px;
    height: 135px;
    margin:0 auto;
    position: relative;
}

.header-top-title{
    float: left;
}

.header-top-search{
    float: right;
    margin-top:12px;
}

.header-top-title h1 a{
    margin-top: 10px;
    background:url(images/logo.png) left top no-repeat;
    display: block;
    width: 600px;
    height: 100px;
}

.top-nav{
    position: absolute;
    bottom:15px;
    right: 0;
}

.top-nav li{
    float: left;
    font-size: 14px;
    padding: 3px;
}

.header-nav{
    width:980px;
    margin:0 auto;
}


.header-nav .main_menu li{
    float:left;
    margin-right: 20px;
    width:80px;
    text-align: center;
}

.header-nav .main_menu li a{
    display: block;
    color:#fff;
    font-weight: bold;
    font-size: 14px;
}

.content{
    width:980px;
    background: #fff;
}

.main,.sider{
    float: left;
}

.main{
    width:702px;
    padding:10px;
}

.banner{
    width:700px;
    border:1px solid #eee;
}

/*.banner img{
    width:700px;
    height:200px;
}*/

/*.banner-images-box li{
    float: left;
    position: relative;

}*/

/*.banner-images-title{
    position: absolute;
    bottom:5px;
    left:0;
    display: block;
    background: #333;
    opacity: .5;
    height:30px;
    width:100%;
    line-height: 30px;
}
*/

.pan{
    float:left;
    padding:10px;
    width: 324px;
}

.middle{
    width:680px;
    padding: 10px;
}

.pan.middle li{
    float: left;
    width:130px;
    height:116px;
    margin: 8px;
    display: block;
    background: none;
}

.middle li img{
    height:116px;
}

.pan-header{
    font-size: 14px;
    font-weight: bold;
    color: #0a6fbf;
    padding: 5px 5px 5px 0;
    border-bottom: 2px solid #8abde7
}

.pan-header a{
    color: #0a6fbf;
}

.pan-header a:hover{
    text-decoration: none;
}

.pan-body li{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dashed #eee;
    background:url('images/102.gif') no-repeat 0 5px;
    padding-left: 15px;
}

.pan-body a{
    text-decoration: none;
    color: #333;
}

.pan-body a:hover{
    color:#000;
}

.sider{
    width:255px;
}

.sider .pan{
    padding-left: 0;
    width:255px;
}

.sider .info{
    padding-top:2px;
}

.footer{
    background: #ddd;
    text-align: center;
    border-top: 1px solid #999;
    height: 40px;
    line-height: 40px;
}

.header-nav{
}

#nav{
    
}

.main_menu{
    height: 33px;
    margin: 0 5px;
    padding-left: 5px;
}

.main_menu li{
    float: left;
    height: 35px;
    line-height: 35px;
    padding: 0 18px;
}

.video .pan-body{
    text-align: center;
    position: relative;
}
.video .video-img{
    margin:0 auto;
    
}

.video .video-info{
    text-align: left;
    padding:10px;
    padding-top: 2px;
    width:235px;

}

.video .video-bg{
    width:234px;
    height:151px;
    background: url('images/b2.png') no-repeat 10px 15px;
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
}

.nums-list li{
    float: left;
width: 87px;
height: 110px;
margin: 20px;
}


.nums-list li a{
    height: 110px;
line-height: 110px;
width: 87px;
display: inline-block;
    background: url('images/btn.png') no-repeat;
}


.nums-list li span{
    display: none;
}

.btn0{
    background-position: 0 0;
}


.btn1 a{
    background-position: -102px 0;
}

.btn2 a{
    background-position: 0 0;
}

.btn3 a{
    background-position: 0 0;
}

.btn4 a{
    background-position: 0 0;
}

.btn5 a{
    background-position: 0 0;
}